<h1>Segmenting and Clustering Neighborhoods in Toronto</h1>

__1. Create a notebook <br>2. Use the Notebook to build the code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe__

In [1]:
!pip install lxml

import pandas as pd
import numpy as np
import lxml

url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
data = pd.read_html(url, header=0)
df = data[0]

print(df.head(10))
print(df.shape)

Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.5.0)
  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor
7      M7A  Downtown Toronto      Queen's Park
8      M8A      Not assigned      Not assigned
9      M9A      Queen's Park      Not assigned
(287, 3)

__3.1
The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood <br>
3.2 Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned__

In [2]:
#rename the columns
df.rename(columns={'Postcode':'PostalCode','Neighbourhood':'Neighborhood'},inplace=True)

#delete the rows with unassigned Borough
df=df[df['Borough']!='Not assigned']

print(df.head(10))
print(df.shape)

   PostalCode           Borough      Neighborhood
2         M3A        North York         Parkwoods
3         M4A        North York  Victoria Village
4         M5A  Downtown Toronto      Harbourfront
5         M6A        North York  Lawrence Heights
6         M6A        North York    Lawrence Manor
7         M7A  Downtown Toronto      Queen's Park
9         M9A      Queen's Park      Not assigned
10        M1B       Scarborough             Rouge
11        M1B       Scarborough           Malvern
13        M3B        North York   Don Mills North
(210, 3)

__3.3 More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.__

In [3]:
#Next we combine the neighborhoods into one row separated by a comma
df=df.groupby(['PostalCode', 'Borough']).agg({'Neighborhood' : ','.join})

df.head(5)

                                                Neighborhood
PostalCode Borough
M1B        Scarborough                         Rouge,Malvern
M1C        Scarborough  Highland Creek,Rouge Hill,Port Union
M1E        Scarborough       Guildwood,Morningside,West Hill
M1G        Scarborough                                Woburn
M1H        Scarborough                             Cedarbrae

__3.4 If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. So for the 9th cell in the table on the Wikipedia page, the value of the Borough and the Neighborhood columns will be Queen's Park. <br>
3.5 Clean your Notebook and add Markdown cells to explain your work and any assumptions you are making.__

In [4]:
#We can see that Neighborhood has become the index of the dataframe, so we need to reset it for the next operations
df.reset_index(inplace=True)

print('Before replace ',df[df['PostalCode']=='M9A'])

#Next we replace the neighborhoods with unassigned values with the name of the borough as per assignment
df['Neighborhood'][df['Neighborhood']=='Not assigned']=df['Borough'][df['Neighborhood']=='Not assigned']

print('After replace ',df[df['PostalCode']=='M9A'])

Before replace     PostalCode       Borough  Neighborhood
93        M9A  Queen's Park  Not assigned
After replace     PostalCode       Borough  Neighborhood
93        M9A  Queen's Park  Queen's Park

In [5]:
df.head(10)

  PostalCode      Borough                                   Neighborhood
0        M1B  Scarborough                                  Rouge,Malvern
1        M1C  Scarborough           Highland Creek,Rouge Hill,Port Union
2        M1E  Scarborough                Guildwood,Morningside,West Hill
3        M1G  Scarborough                                         Woburn
4        M1H  Scarborough                                      Cedarbrae
5        M1J  Scarborough                            Scarborough Village
6        M1K  Scarborough      East Birchmount Park,Ionview,Kennedy Park
7        M1L  Scarborough                  Clairlea,Golden Mile,Oakridge
8        M1M  Scarborough  Cliffcrest,Cliffside,Scarborough Village West
9        M1N  Scarborough                     Birch Cliff,Cliffside West

__In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe__

In [6]:
print(df.shape)

(103, 3)