<h1>Segmenting and Clustering Neighborhoods in Toronto</h1>

First we need to install some web scraping libraries

In [1]:
#!pip install bs4
#!pip install tabulate
!pip install lxml

Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.5.0)

Then we need to import the following libraries

In [2]:
import pandas as pd
import numpy as np
import lxml

Now we are ready to scrape the data from __Wikipedia__

In [3]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
data = pd.read_html(url)
df = data[0]

df.head(10)

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor
7      M7A  Downtown Toronto      Queen's Park
8      M8A      Not assigned      Not assigned
9      M9A      Queen's Park      Not assigned

Next we delete the rows with unassigned __Borough__

In [4]:
df['Borough'][df['Borough']=='Not assigned']=np.NaN
df.dropna(axis=0,inplace=True)

df.head(10)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M6A        North York  Lawrence Heights
6       M6A        North York    Lawrence Manor
7       M7A  Downtown Toronto      Queen's Park
9       M9A      Queen's Park      Not assigned
10      M1B       Scarborough             Rouge
11      M1B       Scarborough           Malvern
13      M3B        North York   Don Mills North

Next we combine the neighborhoods into one row separated by a comma

In [5]:
df=df.groupby(['Postcode', 'Borough']).agg({'Neighbourhood' : ','.join})

df.head()

                                             Neighbourhood
Postcode Borough
M1B      Scarborough                         Rouge,Malvern
M1C      Scarborough  Highland Creek,Rouge Hill,Port Union
M1E      Scarborough       Guildwood,Morningside,West Hill
M1G      Scarborough                                Woburn
M1H      Scarborough                             Cedarbrae

Now we can see that Neighborhood has become the index of the dataframe, so we need to reset it for the next operations

In [6]:
df.reset_index(inplace=True)

Next we see if there are any rows with unassigned __Neighborhood__ values

In [7]:
df[df['Neighbourhood']=='Not assigned']

   Postcode       Borough Neighbourhood
93      M9A  Queen's Park  Not assigned

We see that only one row has unassigned Neighborhood.<br>
Next we replace the neighborhoods with unassigned values with the name of the borough as per assignment

In [8]:
df['Neighbourhood'][df['Neighbourhood']=='Not assigned']=df['Borough'][df['Neighbourhood']=='Not assigned']

Now we check for the row that previously had unassigned value

In [9]:
df.iloc[93,:]

Postcode                  M9A
Borough          Queen's Park
Neighbourhood    Queen's Park
Name: 93, dtype: object

We can see that it now has it's __Borough__ value for it's __Neighborhood__ value

Lastly let's print the __shape__ of the __dataframe__

In [10]:
print(df.shape)

(103, 3)